.fullItemContainer{
    width: 40%;
    position: relative;
    left: 25%;
    height: 800px;
    top: 1px;
}

.breadCrumb{
    position: relative;
    top: 1%;
    left: 1%;
    color: #666;
    font-weight: 400;
    line-height: 1.45;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 14px;
}

.itemGeneral{
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.blockSup{
    display: flex;
    flex-direction: row;
    font-family: inherit;
}

.itemPicture{
    position: relative;
    margin: 2% 4%;
    width: 60%;
    height: auto;
}

.itemDetailContainer{
    position: relative;
    margin: 2% 4%;
    font-family: inherit;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    font-family: inherit;
}

.itemPrice{
    margin: 0;
    margin-right: 5px;
    margin-top: -5px;
    font-family: inherit;
}

.comprarButton{
    margin-top: 5%;
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 52px;
    text-align: center;
    border-radius: 6px;
}

.blockBot{
    font-family: inherit;
    margin: 2% 5%;
}

.blockBot h2{
    font-family: inherit;
}

.blockBot p{
    font-family: inherit;
    font-weight: lighter;
    color: #666;
}